:root {
	--font: 400 16px/24px 'Inter', sans-serif;
	--font-feature-settings: 'liga' 1, 'calt' 1, 'dlig' 1, 'tnum' 1, 'zero' 1, 'ss02' 1, 'ss07' 1, 'ss08' 1;

	--radius: 10px;
}

:root {
	--background: #060606;
	--color: #ffffff;
	--accent: #aeb3b7;
}

[data-theme='light'] {
	--background: #FFF7F1;
	--color: #000000;
	--accent: #FFE4C9;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	background: var(--background);
	color: var(--color);
	font: var(--font);
	font-feature-settings: var(--font-feature-settings);
}

::selection {
	background: var(--color);
	color: var(--background);
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.25em;
}

p {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.75rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

.muted {
	color: #777;
}
